@import "tailwindcss";

@theme {
  --color-primary: #0F4C81;
  --color-secondary: #D4AF37;
  --color-background: #F8F8F8;
  --color-dark: #222222;
  
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-background text-dark font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold;
  }
}

html {
  scroll-behavior: smooth;
}